
[rating="10"]{
    background-color: rgb(57, 155, 0);
}
[rating="9"]{
    background-color: rgb(164, 226, 128);
}
[rating="8"]{
    background-color: rgb(13, 91, 194);
    color: white;
}
// [rating="8"] td.field_URL {
//     background: #a7bf95;
// }
[rating="7"]{
    background-color: rgb(185, 9, 162);
    color: floralwhite;
}
[rating="6"]{
    background-color: rgb(229, 151, 236);
}

[rating="5"]{
    background-color: rgb(139, 198, 238);
}

[rating="4"]{
    background-color: orange;
}
[rating="3"]{
    background-color: rgb(116, 82, 21);
    color: white;
}
[rating="2"]{
    background-color: rgb(255, 39, 68);
}
[rating="1"]{
    background-color: rgb(177, 22, 43);
}
[rating="0"]{
    background-color: rgb(126, 2, 19);
    color: white;
}

[opit="Опыт 3-6 лет"] {
    background-color: black;
    color: white;
}
[opit="Опыт более 6 лет"] {
    background-color: black;
    color: white;
}