header {
    height: 100px;
}

.content {
    display: flex;
}

.task_list {
    width: 70%;

    .task {
        word-wrap: break-word;
        display: flex;

        .subject_solve {
            margin-left: auto;
            color: #424242;
        }

        .container_subject_logo {
            width: 70px;
            height: auto;

            .task_subject_logo {
                width: inherit;
                height: inherit;
                float: left;
                margin: 0px 18px 10px 0px;
            }
        }

        &_tags {
            display: flex;
            justify-content: end;
        }
        &_tag {
            margin-left: 10px;
            font-family: monospace;
            color: #4b664b;
            cursor: pointer;
        }
    }
}


.blink_once {
    background: 50% 100% / 80% 0% no-repeat radial-gradient(ellipse at left, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    animation: fadein 3s cubic-bezier(1, 0.1, 0.95, 0.35) alternate infinite 1s;
}

@keyframes fadein {
    100% {
        background-size: 800% 800%;
    }
}