$header_height: 57px;

@import "templales.css";

.finder_header {
    width: 100%;
    height: 40px;
    display: flex;

    input {
        width: 100%;
        height: inherit;
    }

    button {
        width: 14%;
        height: inherit;
    }

    & * {
        height: 100%;
    }
}

.cell {
    background: #a36565;
    border: solid;
    position: relative;

    .obj_store {
        background: #ddcb25;
        border: solid;
        position: absolute;
        font-size: 0.6em;
    }
}

.empty_space {
    background: #584e4e;
    border: solid;
}

.row {
    display: flex;
}

header {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100vw;
    background: #afafaf;
    padding: 3px;
    color: white;
    height: $header_height;
}

main {
    margin-top: $header_height;
}

.contextmenu_content {
    padding: 20px 10px;
    border: solid;

    .contextmenu_btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}