.cards_container{
    width: 400px;
}
.cards_words {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: gray;
    color: white;
    padding: 20px;
}

.card-hided {
    color: transparent;
}

.answer_panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}